
ul,li {
	list-style-type: none;
}
a, a:hover, a:active, a:focus, a:visited {
  text-decoration: none; 
  color: #fff;
}
a:hover {
	color:blue;
}
* {
	padding: 0;
	margin: 0;
}
.main-navbar {
	background-color: #C0C0C0;
	
}


.logo {
	background-image: url("../img/techademy.png");
	background-size: 100%;
	background-repeat: no-repeat;
	color: transparent;
	margin: 20px auto;
	height: 40px;
	width: 160px;
	display: inline-block;
	left: 10px;
	
}
.hamburger {
	margin-top: 12px;
	font-size: 30px;
	color: #fff;
	cursor:pointer;
}
.main-ul {
	display: none;
	flex-direction: row;

}
.main-ul li a{
	display: flex;
	justify-content:space-between; 
	flex-direction: row;
	padding: 0 10px;
	font-size: 25px;
	font-weight: bold;
	cursor: pointer;
}
.banner-image {
	background-image: url("../img/learn-lang.jpg");
	background-size: 100%;
	background-repeat: no-repeat;
	color: transparent;
	width: 100%;
	height: 195px;
	display: block;
}
.txt-right1 {
	margin-top: 20px;
}
.card-backg {
	padding: 10px 15px;
}
.card-span {
	font-size: 35px;
	color: 	#00CCFF;
}

.progress {
	height: 8px;
}
.right-column,.left-column {
	box-shadow: 2px 2px 2px 2px #C0C0C0;
}
.card-icon span {
	font-size: 45px;
	color: #3366ff;
	opacity: 0.5;

}
.card-row {
	background-color: #f7f7fb;
	padding-top: 50px;
}
.content-projects {
	background-color: #eeeeee;
	padding-top: 50px;
}
.content-ul {
	display: flex;
	/*justify-content: space-between;*/
}

.content-ul a{
	color: #000;
	font-size: 11px;
	padding: 0 3px;	
	font-weight: bold;
	text-align: center;
}
.card-img {
	height: 300px;
}
.card-img-overlay {
	margin-top:200px;
}

/* sliders of pages  */
.carousel{
    
    margin-top: 20px;
}
.carousel-item{
    text-align: center;  
    width: 100%;  
    padding:50px 0;
}
.bs-example{
	background: #C0C0C0;
}

/* sliders of pages  */

@media screen and (min-device-width: 768px) {
	.content-ul {
		display: flex;
		flex-direction: row;
	
		
	}

	.content-ul a{
		color: #000;
		margin-left: 37px;
		font-size: 20px;
		padding: 0 3px;	
		font-weight: bold;
	}	
}
@media screen and (min-device-width: 1024px) {
	.main-ul {
		display: flex;
		float: right;
		margin-top: 20px;
		font-size: 20px;
		cursor: pointer;
	}
	.main-ul li a{
		display: flex;
		justify-content:space-between; 
		flex-direction: row;
		padding: 0 20px;
	}
	.hamburger {
		display: none;
	}
	.content-ul a{
		color: #000;
		margin-left: 90px;
		font-size: 20px;
		padding: 0 0px;	
		font-weight: bold;
	}
}